.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #b9b5b5 0%, #ffffff 100%);
}

.calculator{
    background-color:rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.5);
}